.env
.env.backup
.env.local
.git
.gitignore
.gitattributes
.superpowers
.opencode
.pgdata
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
*.sqlite
*.sqlite3
*.md
docker-compose*.yml
